// // Specific CSS for your home-page
.home-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1526363269865-60998e11d82d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  .navbar-lewagon {
    background: transparent;
  }
}

// .white-text {
//   color: white;
// }

// .bottom-left {
//   position: fixed;
//   display: block;
//   top: 60%;
// }

.selector-options-background {
  background-color: white;
  // rgba(49, 34, 22, 0.6);
  border-radius: 16px;
  padding: 32px;
  margin-left: 12vw;
}
