.fas.fa-user{
  font-size: 160px;
  text-align: center;
  margin-top: 84px;
}
.profile-display{
  margin-top: 40px;
}
.description{
  font-family: $global-font;
  padding-top: 55px;
  padding-left: 0;
  padding-right:40px
}
.description p{
  color:rgba(0, 0, 0, 0.7);
}
.description h1{
  font-family: $global-font;
  margin-bottom: -10px;

}

.my-pets-cards{
  margin: 20px 0px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.7);
  padding-bottom: 4px;
}
.my-pets-cards a:hover{
  color: inherit;
}
.user-info {
  margin-bottom: 100px;
}

.pet-header {
  margin-bottom: 30px;
}

.animal-price-font{
  font-size:14px;
}
