.fas.fa-user{
  font-size: 160px;
  text-align: center;
  margin-top: 84px;
}
.profile-display{
  margin-top: 40px;
}

.description h1{
  text-align: center;
  margin-top: 20px;
}

.my-pets-cards{
  margin-top: 20px;
}
