<html class="home-page">
  <div class="container white-text">
    <div class="bottom-left">
      <h1>Welcome to AirPet</h1>
      <p>Where you can share your pet with other people that aren't lucky enough to have their own</p>

      <form action="/animals" method="get">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name="location" placeholder="What kind of animal">

        <label for="start-date">Start date: </label>
        <input type="date" name="start_date">

        <label for="end-date">End date: </label>
        <input type="date" name="end_date">
        <input type="submit" class="button-primary">
      </form>
    </div>
  </div>
</html>

