
<html class="home-page">
  <div class="container">
      <div class="landing-title">
        <h1>Welcome to AirPet</h1>
        <p>Where you can share your pet with other people that aren't lucky enough to have their own</p>

        <div class="row">

          <div class="col-12 col-md-3  landing-form">
            <form action="/animals" method="get">
              <div class='text-center landing-label'>
                <label for="location">Location:</label>
              </div>
              <div class='text-center landing-input'>
                <input type="text" name="location" placeholder="Location">
              </div>

              <div class='text-center landing-label'>
                <label for="pet">Pet:</label>
              </div>
              <div class='text-center landing-input'>
                <input type="text" name="pet" placeholder="What kind of animal">
              </div>

              <div class='text-center landing-label'>
                <label for="start-date">Start date: </label>
              </div>
              <div class='text-center landing-input'>
                <input type="date" name="start_date">
              </div>
              <div class='text-center landing-label'>
                <label for="end-date">End date: </label>
              </div>
              <div class='text-center landing-input'>
                <input type="date" name="end_date">
              </div>
              <div class='text-center'>
                <input type="submit" class="button-primary">
              </div>
            </form>

            <%= form_tag animals_path, method: :get do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find an animal"
                %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>


           </div>
            </div>
      </div>
  </div>
</div>

