.button-primary {
  padding: 8px 56px;
  border-radius: 8px;
  font-size: 16px;
  background-color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  margin: 28px;
  border:none;
}

.button-calltoaction {
  padding: 8px 56px;
  border-radius: 8px;
  font-size: 16px;
  background-color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  border:none;
  width: 100%;

}
