.my-pets-cards a{
  text-decoration: none;
  color:inherit;

}

.card-trip-pricing a{
  text-decoration: none;
  color:inherit;
}
.fa-times-circle{
  color: #E8401E;
  font-size: 24px;
}


.fa-check{
  color: green;
  font-size: 24px;
}

.cards-index{
  text-decoration: none;
  color:inherit;
}
