.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon {
  .navbar-collapse {
  flex-grow: 0;
  }

  .navbar-brand img {
  width: 50px;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover {
    color: white;
  }
}

.nav-search {
  opacity: 0.8;
}
